.section {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    /* background-color: aquamarine; */
    border-style: groove;
    border-width: 1px;
    border-color: black;
    font-family: '標楷體';
}

.main {
    /* width: 1024px;
    height: 768px;
    /* background-color: lawngreen; */
    */ display: block;
}

.top {
    width: 100%;
    height: 65px;
    /* background-color: lightgray; */
    border-style: groove;
    border-width: 1px;
    border-color: black;
    text-align: center;
    /* padding: 5px 0px; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.marquee {
    width: 770px;
    height: 29px;
    /* background-color: lightblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0px 10px;
    /* float: right; */
    border-style: groove;
    border-width: 1px;
    border-color: black;
}

.menu {
    width: 215px;
    height: 658px;
    /* background-color: lightpink; */
    /* display: flex; */
    /* flex-wrap: wrap;
    justify-content: center;
    align-content: center; */
    padding: 0px 7px;
    /* float: left; */
    border-style: groove;
    border-width: 1px;
    border-color: black;
    text-align: center;
    /* border-top: 0; */
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.update {
    width: 215px;
    height: 25px;
    /* background-color: lightslategray; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0px 7px;
    /* float: left; */
    border-style: groove;
    border-width: 1px;
    border-color: black;
    color: #000000;
    font-size: 16px;
    /* border-top: 0; */
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.content {
    width: 770px;
    height: 654px;
    /* background-color: limegreen; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0px 10px;
    /* float: right; */
    border-style: groove;
    border-width: 1px;
    border-color: black;
    background-image: url(../images/0101.jpg);
    border-top: 0;
    /* border-left: 0; */
    border-right: 0;
    border-bottom: 0;
}

.footer {
    width: 100%;
    height: 20px;
    /* background-color: #CDDC39; */
    display: block;
    border-style: groove;
    border-width: 1px;
    border-color: black;
    font-size: 16px;
    text-align: center;
    /* border-top: 0; */
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.side-left {
    float: left;
    display: inline-block;
}

.side-right {
    /* float: right;
    display: inline-block; */
}

.menu-box {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    text-align: center;
}

.menu-title {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    text-align: center;
    margin: 20px auto;
    font-size: 24px;
    text-decoration: underline;
    color: #FF00FF;
}

.li {
    margin: 10px;
    background-image: url(../images/menu1.png);
    font-weight: 500;
    padding: 7px;
    border-radius: 7px;
    background-size: cover;
}

.li:hover {
    margin: 10px;
    background-image: url(../images/menu2.png);
}

a {
    text-decoration-line: initial;
    color: black;
}

.hello {
    width: 100%;
    font-size: 24px;
    color: #0000FF;
    text-align: center;
    margin: 30px;
    font-style: italic;
    font-weight: bold;
}

.main-section {
    text-align: center;
}